/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

.appbar {
  padding: 0.5rem;
  background-color: #f7d736;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  gap: 1rem;
}

.appbar img {
  height: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 3rem;
}

.container form {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  gap: 0.5rem;
}

.container .form-card input {
  padding: 0.5rem 0;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.container .form-card textarea {
  height: 1rem;
  padding: 0.5rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  outline: none;
  border: none;
  resize: none;
}

.btn {
  position: relative;
  display: block;
  padding: 12px 15px;
  cursor: pointer;
  font-size: 1rem;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.card-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}

.card-container .card {
  width: 240px;
  min-height: 150px;
  font-family: "Permanent Marker", cursive;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-color-1 {
  background-color: #ead3a7;
}

.card-color-2 {
  background-color: #9de0f5;
}

.card-color-3 {
  background-color: #ef89ba;
}

.card-color-4 {
  background-color: #fae890;
}

.card-color-5 {
  background-color: #abe9c1;
}

.card-rotation-1 {
  transform: rotate(1deg);
}

.card-rotation-2 {
  transform: rotate(1.5deg);
}

.card-rotation-3 {
  transform: rotate(2deg);
}

.card-rotation-4 {
  transform: rotate(2.5deg);
}

.card-rotation-5 {
  transform: rotate(3deg);
}

.card-rotation-6 {
  transform: rotate(3.5deg);
}

.card-rotation-7 {
  transform: rotate(4deg);
}

.card-rotation-8 {
  transform: rotate(4.5deg);
}

.card-rotation-9 {
  transform: rotate(5deg);
}

.card-rotation-10 {
  transform: rotate(5.5deg);
}

.card-rotation-11 {
  transform: rotate(6deg);
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.card .card-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.card p {
  font-size: 1.25rem;
  color: #4c4c4c;
}
